<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'index.css',
    script: 'index.js'
};
%>

<% include _head.ejs %>
<% include ../modules/header/header.ejs %>

<h2>注釈がないものは30フレーム(ただし元ソースがよくわからない)</h2>
<main id="main" class="main" role="main">
    <section class="video-section">
        <h3>original</h3>
        <video src="/assets/test.mp4" autoplay loop></video>
    </section>
    <section class="video-section">
        <h3>秒間10フレーム</h3>
        <canvas class="ten-frames"></canvas>
    </section>
    <section class="video-section">
        <h3>4分割</h3>
        <canvas class="quartet"></canvas>
    </section>
    <section class="video-section">
        <h3>真ん中でちょん切って入れ替え</h3>
        <canvas class="center-reverse"></canvas>
    </section>
    <section class="video-section">
        <h3>鏡よ鏡</h3>
        <canvas class="mirror"></canvas>
    </section>
</main>

<% include ../modules/footer/footer.ejs %>
<% include _foot.ejs %>
